.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.leftside,
.rightside {
    display: flex;
    height: 100%;
    width: 100%;
}

.leftside {
    border-right: 4px solid var(--border-color);
    margin-right: 8px;
    align-items: center;
}

.dot {
    margin: 130px;
    height: 450px;
    width: 450px;
    background-image: linear-gradient(orange 40%, grey);
    border-radius: 50%;
    display: inline-block;
}


.dot h1 {
    line-height: 375px;
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    color: white;
    text-shadow: 2px 1px grey;
}

.rightside {
    border-left: 4px solid var(--border-color);
    margin-left: 8px;
}

.rightside p {
    text-align: center;
    font-size: 30px;
    margin-top: 200px;
    margin-left: 200px;
    white-space: nowrap;
}