/* Variables */
:root[data-theme="light"] {

    --submit: black;
    --submit-color: white;
}

:root[data-theme="dark"] {

    --submit: white;
    --submit-color: black;
}

/* Main */
.col {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.leftside,
.rightside {
    display: flex;
    height: 100%;
    width: 100%;
}

/* left */
.leftside {
    border-right: 4px solid var(--border-color);
    margin-right: 8px;
    align-items: center;
}

.dot {
    margin: 0 auto;
    margin-top: 100px;
    height: 475px;
    width: 475px;
    background-image: linear-gradient(orange 40%, grey);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot h1 {
    margin-top: 50px;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: white;
    text-shadow: 2px 1px grey;
}

/* right */
.rightside {
    display: flex;
    flex-direction: column;
    border-left: 4px solid var(--border-color);
    margin-left: 8px;
}

.rightside h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}

.rightside p {
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin-top: 100px;
    white-space: nowrap;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* form */
#form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

input[type=text], select, textarea {
    width: 600px;
    padding: 12px;
    box-shadow: 1px 1px gray;
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    vertical-align: top;
}
  
  button[type=submit] {
    background-color: var(--submit);
    color: var(--submit-color);
    width: 600px;
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

  #content {
    height: 100px;
}

@media screen and (max-width: 1025px) {
    .col {
        display: flex;
        flex-direction: column;
    }  
    .leftside {
        border-right: none;
    }
    .rightside {
        border-left: none;
    }
}

@media screen and (max-width: 500px) {
    .dot {
        height: 300px;
        width: 300px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .rightside h1 {
        font-size: 30px;
    }

    #form {
        max-width: 400px;
        margin: 0 auto;
        text-align: left;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        box-shadow: 1px 1px gray;
        box-sizing: border-box;
        border-radius: 2px;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        vertical-align: top;
    }

    button[type=submit] {
        background-color: var(--submit);
        color: var(--submit-color);
        width: 100%; 
        padding: 12px 20px;
        border: none;
        border-radius: 2px;
        cursor: pointer;
    }

    #content {
        height: 100px;
    }

