:root[data-theme="light"] {

    --background-light: white;
    --text-color: black;

    --border-color: black;

    --switch-bg: #F5F5F6;
    --switch-circle-bg: #FFD371;
    --switch-circle-pos: 0.22rem;
    --icon-sun: #997F44;
    --icon-moon: #B1B0B5;
}

:root[data-theme="dark"] {

    --background-dark: black;
    --text-color: white;

    --border-color: white;

    --switch-bg: #2D2C35;
    --switch-circle-bg: #7190FF;
    --switch-circle-pos: 2.88rem;
    --icon-sun: #B1B0B5;
    --icon-moon: #DCE3FF;
}

body {
    background-color: var(--background-dark);
}


header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 25px;
    position: relative;
}

header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 12px;
    background: 
        linear-gradient(to right, var(--border-color), var(--border-color)),
        linear-gradient(to right, var(--border-color), var(--border-color));
    background-size: 4px 4px, 4px 4px;
    background-position: bottom, top;
    background-repeat: repeat-x;
}

.theme-switcher {
    background-color: var(--switch-bg);
    width: 75px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    padding: 4px;
    position: relative;
    margin-right: 20px;
}

.theme-switcher::before {
    content:'';
    position: absolute;
    width: 2.22rem;
    height: 2.22rem;
    background-color: var(--switch-circle-bg);
    border-radius: 50px;
    z-index: 0;
    left: 0;
    transform: translateX(var(--switch-circle-pos));
}

.theme-switcher svg{
    z-index: 1;
}

.icon-sun {
    fill: var(--icon-sun);
    margin-top: 5px;
    margin-left: 6px;
}

.icon-moon {
    fill: var(--icon-moon)
}